.navbar {
    display: flex;
    height: 70px;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.navbar__header {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.navbar__login {
    margin-left: auto;
    margin-right: 20px;
}

.navbar__logout{
    text-decoration: underline;
    cursor: pointer;
    margin-right: 20px;
    margin-left: auto;
}

.navbar__logout:hover{
    text-decoration: none;
}

.container {
    width: 1140px;
    display: flex;
    align-items: center;
}